// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  margin:33px;
  font-family: verdana, arial, helvetica, sans-serif;
}
.top-sentence, .start-link, .show-content{
  margin:33px;
}

li{
  margin-top:10px;
  list-style:none;
}
